{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->

    <title>To do</title>
    <base href="/">

        <!-- Bootstrap -->
<!-- build:css styles/main.css -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-dialog/css/ngDialog.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-dialog/css/ngDialog-theme-default.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'app/lib/snackbarjs/snackbar.min.css' %}" />
    <link href="{% static 'app/styles/main.css' %}" rel="stylesheet">
<!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#we-are-borg-navbar">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Not Google Plus</a>
    </div> <!-- ./navbar-header -->

    <div class="collapse navbar-collapse" id="we-are-borg-navbar">
      <ul class="nav navbar-nav pull-right">
        {% if user.is_authenticated %}
          <li><a href="/+{{ user.username }}">+{{ user.username }}</a></li>
          <li><a href="/+{{ user.username }}/settings">Settings</a></li>
          <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
        {% else %}
          <li><a ui-sref="login">Login</a></li>
          <li><a ui-sref="register">Register</a></li>
        {% endif %}
      </ul>
    </div> <!-- /.collapse.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>
  <!--<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 ng-view"></div>
    </div>
  </div>-->
  <div ui-view="content"></div>
<!-- build:js scripts/main.js -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/ng-dialog/js/ngDialog.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/lib/snackbarjs/snackbar.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/scripts/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/app.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/app.routes.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/scripts/authentication/authentication.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/authentication/services/authentication.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/authentication/controllers/register.controller.js' %}"></script>
	  <script type="text/javascript" src="{% static 'app/scripts/authentication/controllers/login.controller.js' %}"></script>

	  <script type="text/javascript" src="{% static 'app/scripts/layout/layout.module.js' %}"></script>
	  <script type="text/javascript" src="{% static 'app/scripts/layout/controllers/navbar.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/layout/controllers/index.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/scripts/posts/posts.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/posts/services/posts.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/posts/directives/posts.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/posts/controllers/posts.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/posts/directives/post.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/posts/controllers/new-post.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'app/scripts/utils/utils.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/utils/services/snackbar.service.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'app/scripts/profiles/profiles.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/profiles/services/profile.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/profiles/controllers/profile.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/profiles/controllers/profile-settings.controller.js' %}"></script>



<!-- endbuild -->


</body>

</html>
