{% load staticfiles %}
<!-- build:js scripts/main.js -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/app.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/app.routes.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/authentication/authentication.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/authentication/services/authentication.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/authentication/controllers/register.controller.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/authentication/controllers/login.controller.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/layout/layout.module.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/layout/controllers/navbar.controller.js' %}"></script>
<!-- endbuild -->
